body {
    background-color: #696969;
    color: #FFFFFF;
}

.sidenav {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #383736;
    overflow-x: hidden;
    padding-top: 10px;
}

.sidenav a {
    padding: 20px 8px 6px 30px;
    text-decoration: none;
    font-size: 25px;
    color: #D3D3D3;
    display: block;
}

.sidenav a:hover {
    color: #FFFFFF;
}

.main {
    margin-left: 170px;
    padding: 10px 10px;
}