<h2>Add User</h2>
<p>&nbsp;</p>
<form ng-submit="submit()" ng-controller="AddUserCtrl">
    <p>First name:</p>
    <input type="text" ng-model="firstname">
    <p>Last name:</p>
    <input type="text" ng-model="lastname">
    <p>E-mail:</p>
    <input type="email" ng-model="email">
    <p>Password:</p>
    <input type="password" ng-model="password">
    <p>User Information:</p>
    <textarea type="text" ng-model="info" rows="4" cols="50"></textarea>
    <p>&nbsp;</p>
    <input type="submit" id="submit" value="Submit" />
    <input type="reset" />
</form>