.window {
    text-align: center;
}

.k-grid .k-state-selected {
    background-color: #383736 !important;
    color: white;
}

.k-list .k-reset {
    background-color: #383736 !important;
    color: white;
}

li[aria-selected="true"] {
    background-color: #383736 !important;
    outline-color: #383736;
    color: white;
}